name: Node.js CI/CD

on:
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v4

    # cache 설정 제거함 & node-version 명시 제거 (EC2에 깔린거 그대로 사용)
    - name: Install Dependencies
      run: npm install

    - name: Restart Server
      run: |
        pm2 restart github-deploy || pm2 start app.js --name "github-deploy" --watch
